<div class="cart-box">

  <app-product-filter [products]="products" (filterChanged)="handleFilteredProducts($event)" />

  <app-product-list [products]="filteredProducts" (productSelected)="addToCart($event)" />

  <div class="cart-summary">
    <app-cart-summary [cartData]="cartItems" (removeItemEvent)="removeItem($event)" />
  </div>

  <app-discount-panel [cartTotal]="subtotal" [(discountCode)]="discountCode" (discountApplied)="applyDiscount($event)" />

  <h3>Subtotal: ${{ subtotal.toFixed(2) }}</h3>

  <h2>Total: ${{ total.toFixed(2) }}</h2>

  <button (click)="checkout()">
    Checkout
  </button>

</div> 