.observer-demo {
  margin: 10px;
  padding: 10px;
  border: 1px solid rgb(173, 143, 143);
  border-radius: 5px;
}

.btn-primary {
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  background-image: linear-gradient(to right, rgb(21, 39, 58), rgb(0, 123, 255));
}

.btn-danger {
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  background-image: linear-gradient(to right, rgb(220, 53, 69), rgb(173, 23, 45));
}
