body {
  margin: 10px;
  padding: 10px;
  background-color: #41114c;
  font-family: Arial, sans-serif;
  justify-content: center;
  align-items: center;
  color: #111010;
}

a {
  color: rgb(6, 6, 6);
  margin: 10px;
  padding: 10px;
}

header {
  color: rgb(9, 9, 9);
  font-family: cursive;
}

form {
  background: white;
  padding: 20px;
  margin: 20px auto;
  width: 600px;
  border-radius: 8px;
}

p {
  margin-bottom: 12px;
}

label {
  display: inline-block;
  width: 120px;
  font-weight: bold;
}

input,
select,
textarea {
  width: 60%;
  padding: 5px;
}

button {
  padding: 6px 12px;
  background-color: rgb(198, 24, 24);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: brown;
}

fieldset {
  margin-top: 15px;
  padding: 10px;
  border-radius: 5px;
}

legend {
  font-weight: bold;
}
